.mainTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 10vh;
}

.toCenter {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.toCenter input{
    width: 300px;
    height: 30px;
    border: none;
    background: url("./Images/search-solid.svg") no-repeat rgb(204, 202, 202);
    background-size: 12px;
    background-position-x: 3%;
    background-position-y: 50%;
    padding-left: 25px;
}

.toCenter input::placeholder{
    color: gray;
    
}

.datas {
    height: 50vh;
    margin-top: 10px;
}

.dataSquares{
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.dataSquare {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: black solid 1px;
}

.squareTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}


